# Import Library

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("E:\Data Set\customer_shopping_behavior.csv")

In [3]:
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [5]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [6]:
df['Review Rating'].fillna(df['Review Rating'].median(),inplace=True)
df['Review Rating'].astype(float)

0       3.1
1       3.1
2       3.1
3       3.5
4       2.7
       ...
3895    4.2
3896    4.5
3897    2.9
3898    3.8
3899    3.1
Name: Review Rating, Length: 3900, dtype: float64

In [7]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [8]:
df.columns=df.columns.str.lower()

In [10]:
df.columns

Index(['customer id', 'age', 'gender', 'item purchased', 'category',
       'purchase amount (usd)', 'location', 'size', 'color', 'season',
       'review rating', 'subscription status', 'shipping type',
       'discount applied', 'promo code used', 'previous purchases',
       'payment method', 'frequency of purchases'],
      dtype='object')

In [11]:
df.columns=df.columns.str.replace(" ","_")

In [12]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [13]:
df.rename({'purchase_amount_(usd)':'purchase_amount'},axis=1,inplace=True)

In [14]:
labels=['young_adult','adult','middle_aged','senior_citizen']
df['age_group']=pd.qcut(df['age'],q=4,labels=labels)

In [15]:
df[['age','age_group']].head()

   age    age_group
0   55  middle_aged
1   19  young_adult
2   50  middle_aged
3   21  young_adult
4   45  middle_aged

In [16]:
frequency_mapping={'Fortnightly':14,
                 'Weekly':7,'Monthly':30,
                'Bi-Weekly':15,'Annually':365,'Quarterly':90, 'Every 3 Months':90 }

In [17]:
df['frequency_of_purchase_days']=df['frequency_of_purchases'].map(frequency_mapping)

In [18]:
df['frequency_of_purchase_days']=df['frequency_of_purchase_days'].fillna(df['frequency_of_purchase_days'].median()).astype(int)

In [19]:
df[['frequency_of_purchases','frequency_of_purchase_days']].head()

  frequency_of_purchases  frequency_of_purchase_days
0            Fortnightly                          14
1            Fortnightly                          14
2                 Weekly                           7
3                 Weekly                           7
4               Annually                         365

In [20]:
df[['discount_applied','promo_code_used']].head()

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes

In [21]:
(df['discount_applied']==df['promo_code_used']).all()

True

In [22]:
df.drop('promo_code_used',axis=1,inplace=True)

In [22]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\program files\python37\lib\site-packages (1.3.24)

In [23]:
!pip install pyodbc sqlalchemy

Requirement already satisfied: pyodbc in c:\program files\python37\lib\site-packages (4.0.39)
Requirement already satisfied: sqlalchemy in c:\program files\python37\lib\site-packages (1.3.24)

In [23]:
import mysql.connector as connection

try:
  
    mydb = connection.connect(
        host='localhost',
        user='Bhasker',
        password='abcd1234@',
        use_pure=True
    )

    if mydb.is_connected():
        cursor = mydb.cursor()
        # database create
        cursor.execute("CREATE DATABASE IF NOT EXISTS customer_behavior")
        print("Database customer_behavior exists or created!")

        # database use
        cursor.execute("USE customer_behavior")
        cursor.execute("SELECT DATABASE()")
        current_db = cursor.fetchone()
        print("Currently using database:", current_db[0])

except Exception as e:
    print("Error:", e)

finally:
    if 'mydb' in locals() and mydb.is_connected():
        mydb.close()

Database customer_behavior exists or created!
Currently using database: customer_behavior

In [25]:
!pip install pymysql sqlalchemy

Requirement already satisfied: pymysql in c:\program files\python37\lib\site-packages (1.1.1)
Requirement already satisfied: sqlalchemy in c:\program files\python37\lib\site-packages (1.3.24)

In [24]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus
from sqlalchemy import create_engine

In [25]:
from sqlalchemy import create_engine
import pandas as pd

username = "Bhasker"
password = "abcd1234@"   # keep the @ here if it's part of your password
host = "127.0.0.1"
port = "3306"
database = "customer_behavior"

engine = create_engine(
    f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"
)

In [26]:
# Bulk insert with chunksize for large data
df.to_sql("shopping_behavior", engine, if_exists="replace", index=False, chunksize=5000)

print("Data successfully transferred from Notebook to MySQL!")

Data successfully transferred from Notebook to MySQL!

In [27]:
username = "Bhasker"
password = "abcd1234@"
host = "localhost"
port = "3306"
database = "customer_behavior"

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

# Write DataFrame to MySQL
table_name = "customer"   # choose any table name
df.to_sql(table_name, engine, if_exists="replace", index=False)

# Read back sample
pd.read_sql("SELECT * FROM customer LIMIT 5;", engine)

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,frequency_of_purchase_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,middle_aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,young_adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,middle_aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,young_adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,middle_aged,365